<launch>

    <include file="$(find tp_ros)/launch/description.launch">
    </include>
    

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_fake)/rviz/turtlebot3_fake.rviz"/> -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tp_ros)/rviz/turtlebot_start_up.rviz"/>



</launch>